# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual Environment
env/
venv/
*.env/

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# VSCode
.vscode/

# Conda
*.conda
*.env
*.yml

# TensorFlow/PyTorch models (if you save them in the project)
*.h5
*.pb
*.pth
*.ckpt

# experiments (exclude content inside the experiments directory, but keep the directory itself)
experiments/*

# dataset/Data (exclude content inside the dataset/data directory, but keep the directory itself)
dataset/data/*

# configs folder
!configs/*

# environment folder
!environment/*

# Logs
*.log

# Data files
*.csv
*.tsv
*.json
*.parquet
*.pickle

# System Files (OS specific)
.DS_Store
Thumbs.db